<ion-header [translucent]="true">
  <ion-toolbar class="primary">
    <ion-title>Trending Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar debounce="100" placeholder="Pesquisar Filmes" (ionInput)="handleInput($event)"></ion-searchbar>

<ion-content>
  @if (isLoading) {
  <ion-list>
    @for (i of dummy ; track i) {
    <ion-item lines="none" class="ion-padding-botton">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-skeleton-text animated class="home-text" />
    </ion-item>
    }
  </ion-list>
  } @else if (error){
  <ion-alert header="Error" [message]="error" isOpen="true" [buttons]="['OK']"></ion-alert>
  }

  <ion-list>
    @for (item of movies ; track item.id) {
    <ion-item button [routerLink]="['/details', item.id]">
      <ion-thumbnail slot="start" class="home-thumbnail" >
        <img [src]="imageBaseUrl + '/w200' + item.poster_path" alt="poster" />
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <h3>{{item.title}}</h3>
        <p>{{item.release_date | date: 'y'}}</p>
      </ion-label>
      <ion-badge color="primary" slot="end">{{item.vote_average}}</ion-badge>
    </ion-item>
    } @empty {
      @if (!isLoading) {
      <ion-item>
        <ion-label class="ion-text-center">No movies found</ion-label>
      </ion-item>
      }
    }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..." />
  </ion-infinite-scroll>


</ion-content>